  <br />
  <br />
  <br />
  <div class="card">
    <div class="card-body">
      This is some text within a card body.




    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="getJobs()">
          <i class="fas fa-binoculars fa-2x">
          </i>
          <div><p>Find Jobs</p></div>
        </button>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="getJobs()">
          <i class="fas fa-thumbtack fa-2x">
          </i>
          <div><p>Post Jobs</p></div>
        </button>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>

<!--<div>
  <div>
    <button type="button" class="btn btn-outline-primary btn-lg ">
      <i class="fas fa-binoculars fa-3x">
      </i>
      <div><p>Jobs</p></div>

    </button>

  </div>
</div>-->
